<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binakarir.binakarirapss">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".Pendaftaran" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ChattingPersonal.Register" />
        <activity android:name=".ChattingPersonal.Login" />
        <activity android:name=".ChattingPersonal.Users" />
        <activity android:name=".ChattingPersonal.Chat" />
        <activity android:name=".Notifikasi" />
        <activity android:name=".Login_google.SignUp" />
        <activity android:name=".Login_google.LoginActivity" />
        <activity android:name=".Login_google.ResetPasswordActivity" />
        <activity android:name=".Setting" />
        <activity android:name=".Login_google.Atur_Akun" />
        <activity android:name=".My_Profile" />
        <activity android:name=".PointActivity" />
        <activity android:name=".Refund" />
        <activity android:name=".Pembayaran" />
        <activity android:name=".Pendaftaran2" />
        <activity android:name=".HelpActivity"></activity>
    </application>

</manifest>